#firewall {
	position: relative;
	display: inline-block;
}

#firewall-show {
	display: inline-block;
	padding-left: 27px;
}

#firewall-form {
	display: none;
	position: absolute;
	bottom: 43px;
	right: 0;
	width: 200px;
	padding: 10px;
	background: #f2f2f2;
	z-index: 500;
	cursor: auto;
	color: #000;
	text-shadow: none;
}

#firewall-form label {
	display: block;
	line-height: 30px;
}

#firewall-server {
	font: 14px "helvetica neue", sans-serif;
	display: inline-block;
	width: 185px;
	border: 1px solid #4F80F0;
}

#firewall-form input[type=submit] {
	border: none;
	border-radius: 5px;
	padding: 5px 10px;
	color: #fff;
	background: #4F80F0;
	cursor: pointer;
}

#firewall-form.visible {
	display: block;
}

/* Baidu-specific overrides */

#ftCon, .ftCon-Wrapper, .wrapper_footer_box, .wrapper_imgfrom_box {
	overflow: visible !important;
}

#ft {
	width: 500px;
}

#ft .firewall-show {
	padding-left: 5px;
}


/* Google overrides */
.firewall-autocomplete .sbdd_a {
	display: none;
}

#firewall-loading {
	display: none;
	position: absolute;
	top: 40px;
	left: 0;
	background: #E60016;
	color: #fff;
	font: 14px "helvetica neue", sans-serif;
	padding: 10px;
}

body.firewall-loading #firewall-loading {
	display: block;
}

#firewall-intro {
	display: none;
	font: 24px "helvetica neue", sans-serif;
	color: #fff;
	background: #E60016;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 10000;
	padding: 10%;
}

#firewall-intro.inverted {
	background: #fff;
	color: #E60016;
}

#firewall-intro p {
	margin-bottom: 25px;
}

#firewall-intro img {
	width: 20%;
	height: auto;
	vertical-align: top;
}

#firewall-intro .text {
	width: 60%;
	margin-left: 10%;
}

#firewall-intro .text,
#firewall-intro img {
	display: inline-block;
}

#firewall-intro ol {
	margin-top: 20px;
}

#firewall-intro li {
	margin-top: 10px;
	margin-left: 25px;
}

#firewall-intro input[type='submit'] {
	text-decoration: none;
	font-weight: bold;
	font-size: inherit;
	line-height: 24px;
	display: inline-block;
	background: #fff;
	color: #E60016;
	padding: 10px 20px;
	border-radius: 5px;
	margin-top: 10px;
	border: 0;
}

#firewall-intro a:hover {
	text-decoration: none;
	background: rgba(255, 255, 255, 0.8);
}

#firewall-intro-name {
	font: 24px "helvetica neue", sans-serif;
	color: #E60016;
	background: rgba(255, 255, 255, 0.8);
	margin-top: 15px;
	width: 300px;
	padding: 10px 20px;
	border: none;
}

#firewall-intro-name:focus {
	outline: 2px solid #fff;
}

body.firewall-intro #firewall-intro {
	display: block;
}

.ui-autocomplete {
	width: 516px;
	z-index: 103;
	background-image: url('/icons/firewall-miami-red.png');
	background-size: 64px 64px;
	background-position: 442px 10px;
	background-repeat: no-repeat;
	transform: translateX(-3px) translateY(10px);
}
