.DS_Store
*~
/.vagrant
/apache/firewall-cafe.conf
/client/config.js
/server/config.js
/server/service-key.json
/server/service-key.json.bak
/server/cert.pem
/server/privkey.pem
/server/fullchain.pem
/server/node_modules/
/server/ssl/
/wordpress
/wordpress-db/*.sql
/vpn
/certified
/db
/intervalometer/images/*.jpg
/intervalometer/config.sh
/intervalometer/screenshot.png