html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font: 14px/22px helvetica, sans-serif;
	padding: 10px;
}

.image-set {
	border-top: 1px solid #808080;
}

.google, .baidu {
	padding: 10px;
}

.images img {
	display: inline-block;
	height: 220px;
	width: auto;
	margin-right: 1px;
}

.images {
	width: 10000px;
}
