html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font: 14px/22px helvetica, sans-serif;
	padding: 10px;
}

.google, .baidu {
	display: inline-block;
	width: 50%;
	padding: 10px;
}

.images img {
	display: inline-block;
	height: 220px;
	width: auto;
	margin-right: 1px;
}

.images {
	width: 100%;
	overflow: auto;
}
