<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Label</key>
   <string>com.firewallcafe.login</string>
   <key>Program</key>
   <string>/Users/firewallcafe/Documents/firewall-cafe/kiosk/login.sh</string>
   <key>RunAtLoad</key>
   <true/>
</dict>
</plist>
