# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules
jspm_packages

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Optional npm cache directory
.npm

#db secrets
config.js

# Development scripts
tmp/
